<%- include('../includes/head.ejs') %>

</head>

<body>

    <%- include('../includes/navigation.ejs') %>

    <main class="centered">
        <h2 class="heading"><%= product.title %></h2>
        <hr>
        <div>
            <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
        </div>
        <h2 class="">R<%= product.price %> </h2>
        <p><%= product.description %></p>
        <%- include('../includes/add-to-cart.ejs') %>
    </main>

<%- include('../includes/end.ejs') %>